#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <11 12>;
        };

        atab {
            bindings = <&kp LA(TAB)>;
            key-positions = <23 24>;
        };

        losl1 {
            bindings = <&sl 1>;
            key-positions = <13 10>;
        };

        bs {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 8>;
        };

        osl1l2 {
            bindings = <&sl 1>;
            key-positions = <18 21>;
        };

        returns {
            bindings = <&kp RET>;
            key-positions = <19 20>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        br_1: br_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
            label = "BR_1";
        };

        br_2: br_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "BR_2";
        };

        br_3: br_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT_ARROW>;
            label = "BR_3";
        };

        br_4: br_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp GREATER_THAN &kp LEFT>;
            label = "BR_4";
        };

        my_new_macro: my_new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 2>;
            label = "MY_NEW_MACRO";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        sensor_rotate_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_wheel_scroll: mouse_wheel_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        myTd00: myTd00 {
            compatible = "zmk,behavior-tap-dance";
            label = "MYTD00";
            #binding-cells = <0>;
            bindings = <&lt 1 LSHFT>, <&sl 1>;
        };

        myMouseKey: myMouseKey {
            compatible = "zmk,behavior-mouse-key-press";
            label = "MYMOUSEKEY";
            #binding-cells = <1>;
        };

       td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt 1 LSHIFT>, <&kp LC(SPC)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                    &kp W         &kp E              &kp R      &kp T                                                   &kp Y        &kp U  &kp I            &kp O     &kp P
&kp A                    &kp S         &kp D              &kp F      &kp G      &msc MOVE_Y(10)             &lt 1 BACKSPACE  &kp H        &kp J  &kp K            &kp L     &mkp MB2
&kp Z                    &kp X         &kp C              &kp V      &kp B      &kp LA(TAB)                 &sl 1            &kp N        &kp M  &mt LSHFT SPACE  &mkp MB1  &lt 5 RET
&lt_to_layer_0 3 ESCAPE  &kp LEFT_WIN  &mt LSHFT LA(TAB)  &kp LCTRL  &lt 2 RET  &mt LC(LEFT_ALT) SPACE      &lt 1 RET        &lt 2 SPACE                                    &lt 3 BACKSPACE
            >;

            sensor-bindings = <&mouse_wheel_scroll SCRL_DOWN SCRL_UP>;
        };

        FUNCTION {
            bindings = <
&kp F13  &kp F14  &kp F15  &kp F16      &kp KP_NLCK                        &none   &kp F1  &kp F2   &kp F3   &kp F4
&kp F17  &kp F18  &kp F19  &kp F20      &kp LG(SPACE)  &trans      &none   &none   &kp F5  &kp F6   &kp F7   &kp F8
&kp F21  &kp F21  &kp F23  &kp F24      &trans         &trans      &trans  &none   &kp F9  &kp F10  &kp F11  &kp F12
&trans   &trans   &trans   &kp LA(TAB)  &kp LG(TAB)    &trans      &trans  &trans                            &none
            >;

            sensor-bindings = <&sensor_rotate_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        NUM {
            bindings = <
&kp GRAVE        &kp PIPE       &kp QUESTION  &kp SQT        &kp DOUBLE_QUOTES                                                &kp RS(UNDERSCORE)  &kp N7        &kp N8        &kp NUMBER_9  &kp N0
&kp TILDE        &kp AMPERSAND  &kp DOLLAR    &kp SEMICOLON  &kp COLON          &kp LC(LA(KP_NUMBER_0))      &kp BACKSPACE    &kp RS(PLUS)        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS
&kp EXCLAMATION  &kp HASH       &kp PERCENT   &kp ASTERISK   &kp SLASH          &kp EQUAL                    &trans           &kp COMMA           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD
&br_4            &br_3          &br_2         &br_1          &kp ESC            &kp AT_SIGN                  &kp KP_ASTERISK  &kp TAB                                                       &kp EQUAL
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &ind_bat                             &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END   &my_new_macro      &trans  &trans  &trans  &trans  &trans  &mkp MB2
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans    &trans             &trans  &trans  &trans  &trans  &trans  &mmv MOVE_Y(100)
&trans          &trans                  &trans          &trans                   &trans    &trans             &trans  &trans                          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &msc MOVE_Y(10)
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                               &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans    &trans        &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &ind_con  &ind_bat      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans    &trans        &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
